body {
  padding: 0;
  margin: 0;
  color: rgb(32, 32, 32);
}

.main {
  width: 100vw;
  height: 100vh;
}

.navbarIn {
  color: rgb(32, 32, 32);
  font-size: 1.8vw;
  text-align: center;
  text-decoration: none;
  height: 15vw;
  width: 80vw;
  border: 2px solid #1c6ea4;
}

a {
  font-size: 200%;
  color: rgb(32, 32, 32);
  text-decoration: none;
}

a:hover {
  color: #00f;
}
